*{
    border:0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.contenedor{            
    margin:0 auto;
}
.cabecera{
    height: 200px;
    background: black;
}
.contenido {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;           
}
.logo{
    padding: 6px;
}

.titulo{           
    display:flex;            
    flex-direction: column;
    align-items: center;
}
h5{
    color: white;
    padding: 10px;
    font-family: sans-serif;
}
h1{           
    color: white;
    padding: 10px;
    font-family: sans-serif;
    font-weight: 200;
}
button{
    color: white;
    background: gray;
    padding: 9px;
    font-weight: 700;
    margin-top: 20px;
}
.Responsive {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    width: 430px;
    border: 1px solid #80808030;
    box-shadow: 1px 2px 9px 1px #808080c2;
    height: 400px;
}

h2 {
    padding: 20px;
}

.imagen {
    height: 100px;
}

p {
    text-align: center;
    margin: 5px;
}
@media screen and (max-width:1200px){
    .cabecera {
        height: 180px;
    }
    h5 {
        padding: 8px;
    }
    h1 {
        padding: 5px;
    }
    button {
        padding: 9px;
        margin-top: 8px;
    }
}

@media screen and (max-width:900px){
    .cabecera {
        height: 170px;
    }
    h5 {
        padding: 2px;
    }
    h1 {
        padding: 9px;
    }
    button {
        padding: 9px;
        margin-top: 8px;
    }
    p{
        font-size: 13px;
    }
}

@media screen and (max-width:450px){
    img {
        margin: 3px;
    }
    .cabecera {
        height: 240px;
        width: 450px;
    }
    .logo {
        padding: 3px;
    }
    h5 {
            color: white;
            padding: 1px;
            font-family: sans-serif;
            font-size: 16px;
        }
    
    h1 {
        color: white;                
        font-family: sans-serif;
        font-weight: 200;
        font-size: 45px;
        text-align: center;
    }
    button {
        color: white;
        background: gray;
        padding: 9px;
        margin-top: 2px;
        font-size: 20px;
    }
    .contenido {
        display: flex;
        flex-direction: column;
    }

    h2 {
        padding: 12px;
        font-size: 25px;
    }
    .Responsive { 
        width: 410px;
    }
    
}